body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(40, 119, 40);
    color: #f5f6f7;
    font-family: Times New Roman;
    font-size: 20px;
    box-sizing: border-box;
}

#name-label{
    padding-top: 10px;
}

#name, #email, #number{
    width: 89%;
    height: 25px;
}

label{
    display: block;
    margin: 1rem 0;
    
}

h1, p{
    margin: 1em auto;
    text-align: center;
}

form{
    margin: 0 auto;
    max-width: 600px;
    min-width: 300px;
    width: 80vw;
    padding-bottom: 1em;
    background-color: rgb(95, 168, 95);
    padding-left: 20px;
}

 textarea, select{
    width: 80%;
    margin: 0 0 10px 0;
    min-height: 2em;
    width: 90%;
    border-radius: 5px;
    border: transparent;
}

#submit{
    width: 90%;
    margin: 10px 0 0 0;
    height: 3rem;
    border-radius: 5px;
    border: transparent;
    background-color: lightslategrey;
    font-size: 18px;
}

#yes, .yes{
    display: inline-block;
    vertical-align: middle;
}

#no, .no{
    display: inline-block;
    vertical-align: middle;
}

input[value="woods"], .a{
    display: inline-block;
    vertical-align: middle;
}

input[value="irons"], .b{
    display: inline-block;
    vertical-align: middle;
}

input[value="wedge"], .c{
    display: inline-block;
    vertical-align: middle;
}

input[value="pitch"], .d{
    display: inline-block;
    vertical-align: middle;
}

input[value="chipping"], .e{
    display: inline-block;
    vertical-align: middle;
}

input[value="bunker"], .f{
    display: inline-block;
    vertical-align: middle;
}

input[value="putting"], .g{
    display: inline-block;
    vertical-align: middle;
}

input[value="preparation"], .h{
    display: inline-block;
    vertical-align: middle;
}

input[value="management"], .i{
    display: inline-block;
    vertical-align: middle;
}
